@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: rgb(4, 2, 39);
}

.caption {
  @apply font-semibold text-sm italic text-secondary-100 m-2;
}

.button {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider text-yellow-400 border-yellow-400 md:border-2 mr-2 hover:bg-yellow-400 hover:text-white transition ease-out duration-500;
}

.menu-item {
  @apply px-4 flex justify-center md:justify-end border-r-4 border-opacity-0 border-yellow-400 transition ease-in-out duration-500;
}

#menu .active {
  @apply border-opacity-100 text-gray-400 font-bold;
}

.menu-item:hover {
  @apply border-opacity-50 text-gray-400;
}
.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
